@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html{
  height: 100%;
  width: 100%;
  body{
    height: 100%;
    width: 100%;
    .page{
      height: 100%;
      width: 100%;
      .top_button{
        z-index: 5;
        position: fixed;
        bottom: 15px;
        right: 15px;
        border-radius: 100%;
        border: none;
        background: #E53935;
        text-align: center;
        padding: 10px;
        width: 60px;
        outline: none;
        display: none;
        transition: opacity opacity .2s ease-in-out;
        span{
          color: white;
          font-size: 30px;
        }
      }
      .top_button:hover{
        opacity: .8;
        transition: opacity .2s ease-in-out;
      }
      .top_button:active{
        opacity: .5;
        transition: opacity .2s ease-in-out;
      }
      .background{
        .background_image{

        }
      }
      .navbar{
        height: 100px;
        width: 100%;
        position: fixed;
        background: #607D8B;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 3;
        .title{
          position: absolute;
          left: 2%;
          color: white;
          font-size: 30px;
          font-weight: 400;
          background: none;
          border: none;
          transition: color .2s ease-in-out;
          outline: none;
        }
        .title:hover{
          color: #E53935;
          transition: color .2s ease-in-out;
        }
        .menu_tab{
          border-radius: 4px;
          border: none;
          background: #0091EA;
          padding: 10px;
          color: white;
          display: none;
        }
        .link_box{
          width: 45%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 2%;
          .link{
            margin: 1%;
            background: none;
            border: none;
            color: white;
            transition: all .2s ease-in-out;
            outline: none;
          }
          .link:hover{
            color: #E53935;
            opacity: .8;
            transition: all .2s ease-in-out;
          }
          .contact_link{
            background: #0091EA;
            padding: 10px;
            border-radius: 4px;
            transition: opacity .2s ease-in-out;
          }
          .contact_link:hover{
            opacity: .8;
            transition: opacity .2s ease-in-out;
          }
          .contact_link:active{
            opacity: .5;
            transition: opacity .2s ease-in-out;
          }
        }
      }
      .page_content{
        position: absolute;
        top: 100px;
        width: 100%;
        .introduction{
          display: flex;
          justify-content: center;
          margin: 20px;
          .introduction_content{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .head_shot{
              margin: 10px;
              padding: 10px;
              border-right: 1px solid #0091ea;
            }
            .work_title{
              margin-left: 20px;
              font-size: 30px;
            }
          }
        }
        .about{
          padding: 100px 0;
          background: #0091ea;
          .about_content{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .a_titles{
              font-size: 50px;
              width: 100%;
              text-align: center;
              margin: 20px 0;
              font-weight: bold;
              color: white;
            }
            p{
              font-size: 25px;
              padding: 0 50px;
              text-align: center;
              color: white
            }
            .skill_images{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              .img_box{
                text-align: center;
                margin: 20px;
                .img{
                  width: 110px;
                  height: 85px
                }
                span{
                  color: white;
                  font-size: 20px;
                }
              }
            }
            .resume_div{
              width: 100%;
              display: flex;
              justify-content: center;
              .resume_link{
                margin-top: 40px;
                padding: 15px;
                background: #E53935;
                border-radius: 4px;
                text-decoration: none;
                color: white;
                transition: opacity .2s ease-in-out;
              }
              .resume_link:hover{
                opacity: .8;
                transition: opacity .2s ease-in-out;
              }
              .resume_link:active{
                opacity: .5;
                transition: opacity .2s ease-in-out;
              }
            }
          }
        }
        .portfolio{
          padding: 100px 0px;
          .portfolio_content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .portfolio_title{
              width: 100%;
              text-align: center;
              font-size: 50px;
              margin: 20px 0;
              font-weight: bold;
            }
            .project_box{
              // border: 1px solid #607D8B;
              padding: 5px;
              text-align: center;
              flex-wrap: wrap;
              height: 200px;
              width: 250px;
              margin: 10px;
              border-radius: 4px;
              .project_image{
                width: 225px;
                height: 175px;
                border-radius: 4px;
              }
              .project_title{
                font-size: 25px;
              }
            }
          }
        }
        .contact{
          padding: 100px 0;
          background: #0091ea;
          .contact_content{
            text-align: center;
            .contact_title{
              width: 100%;
              text-align: center;
              font-size: 50px;
              margin: 20px 0;
              font-weight: bold;
              color: white;
            }
            .info{
              text-decoration: none;
              color: white;
              line-height: 40px;
              font-size: 25px;
            }
            .github{
              color: #E53935;
              transition: opacity .2s ease-in-out;
            }
            .github:hover{
              opacity: .5;
              transition: opacity .2s ease-in-out;
            }
          }
        }
        .bottom_bar{
          height: 100px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: #607D8B;
          .copyright{
            color: white;
          }
          .social_media{
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px){
  html{
    height: 100%;
    width: 100%;
    body{
      height: 100%;
      width: 100%;
      .page{
        height: 100%;
        width: 100%;
        .top_button{
          display: none;
          span{

          }
        }
        .background{
          .background_image{

          }
        }
        .navbar{
          height: 100px;
          width: 100%;

          .title{
            font-size: 25px;
            position: absolute;
            top: 10px;
            width: 100%;
          }
          //todo
          // .menu_tab{
          //   display: inline;
          //   margin: 2%;
          // }
          .link_box{
            position: absolute;
            top: 55px;
            // left: 0;
            width: 100%;
            // background: #607D8B;
            margin: 0;
            // border-top: 1px solid #0091ea;
            justify-content: center;
            // z-index: 3;
            // text-align: center;
            .link{
              margin: 1px;
              background: none;
              border: none;
              color: white;
              transition: all .2s ease-in-out;
              outline: none;
              font-size: 14px;
            }
            .link:hover{
              color: #E53935;
              opacity: .8;
              transition: all .2s ease-in-out;
            }
            .contact_link{
              background: #0091EA;
              padding: 10px;
              border-radius: 4px;
              transition: opacity .2s ease-in-out;
            }
            .contact_link:hover{
              opacity: .8;
              transition: opacity .2s ease-in-out;
            }
            .contact_link:active{
              opacity: .5;
              transition: opacity .2s ease-in-out;
            }
          }
        }
        .page_content{
          top: 100px;
          width: 100%;
          .introduction{
            display: flex;
            justify-content: center;
            margin: 20px;
            .introduction_content{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              .head_shot{
                border-right: none;
              }
              .work_title{
                font-size: 30px;
                margin-left: 0;
                text-align: center;
              }
            }
          }
          .about{

            .about_content{
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              .a_titles{
                font-size: 50px;

              }
              p{
                font-size: 25px;
                padding: 0 20px;
              }
              .skill_images{

                .img_box{

                  .img{
                    width: 100px;
                    height: 75px
                  }
                  span{

                  }
                }
              }
              .resume_div{
                width: 100%;

                .resume_link{
                  padding: 10px;

                }
              }
            }
          }
          .portfolio{

            .portfolio_content{

              .portfolio_title{
                width: 100%;

              }
              .project_box{
                padding: 5px;
                text-align: center;
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                height: 300px;
                width: 375px;
                margin: 10px;
                border-radius: 4px;
                .project_image{
                  width: 350px;
                  height: 275px;
                  border-radius: 4px;
                }
                .project_title{
                  margin: 10px;
                }
              }
            }
          }
          .contact{

            .contact_content{

              .contact_title{

              }
              .info{

              }
              .github{
                color: #E53935;
                transition: opacity .2s ease-in-out;
              }
            }
          }
          .bottom_bar{
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: #607D8B;
            .copyright{
              color: white;
            }
            .social_media{
              color: white;
            }
          }
        }
      }
    }
  }
}
