html{
  height: 100%;
  width: 100%;
  body{
    height: 100%;
    width: 100%;
    .page{
      height: 100%;
      width: 100%;
      .background{
        .background_image{

        }
      }
      .navbar{
        height: 100px;
        width: 100%;
        position: fixed;
        background: #607D8B;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 3;
        .title{
          position: absolute;
          left: 2%;
          color: white;
          font-size: 30px;
          font-weight: 400;
          background: none;
          border: none;
          transition: color .2s ease-in-out;
        }
        .title:hover{
          color: #E53935;
          transition: color .2s ease-in-out;
        }
        .link{
          margin: 1%;
          background: none;
          border: none;
          color: white;
          transition: color .2s ease-in-out;
        }
        .link:hover{
          color: #E53935;
          transition: color .2s ease-in-out;
        }
        .contact_link{
          background: #0091EA;
          padding: 10px;
          border-radius: 4px;
        }
      }
      .introduction{
        position: absolute;
        top: 100px;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        .content{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .head_shot{
            margin: 10px;
            padding: 10px;
            border-right: 1px solid #0091ea;
          }
          .work_title{
            margin-left: 20px;
            font-size: 30px;
          }
        }
      }
      .about{
        position: absolute;
        top: 400px;
        width: 100%;
        height: 300px;
        .content{
          .about_title{

          }
        }
      }
      .portfolio{
        background: #0091ea;
        position: absolute;
        top: 700px;
        width: 100%;
        padding: 20px;
        .content{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          .portfolio_title{
            width: 100%;
            text-align: center;
            font-size: 50px;
            margin: 20px;
          }
          .project_box{
            border: 1px solid #607D8B;
            padding: 5px;
            text-align: center;
            flex-wrap: wrap;
            height: 250px;
            width: 300px;
            margin: 10px;
            border-radius: 4px;
            .project_image{
              width: 275px;
              height: 200px;
              border-radius: 4px;
            }
            .project_title{
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
